body{
    background-color: beige;
    padding: 0%;
}
.container{
    margin: 3rem;
}
.my-container{
    min-height: 200px;
    margin: 1rem;
    padding: 1rem;
}
.my-container, #s1, #s2{
    border: 2px dotted green;
    border-collapse: collapse;
}

#heading{
    color: white;
    margin: auto;
}
#c1{
    width: 250px;
    height: 500px;
    border: green solid;
    border-radius: 3rem;
    background-color: darkseagreen;
}
#searchbar{
    border: green solid;
    border-radius: 2rem;
    background-color: darkseagreen;
    color: white;
    margin: 2rem 1rem 2rem 1rem;
    width: 500px;
}
#obj{
    border: green solid;
    border-radius: 3rem;
    background-color: darkseagreen;
    margin: 1rem;
}